<div  class="container">
  <h1>Sample</h1>
</div>
<script src="/js/main.js"></script>
<p>
  こんにちは！
</p>
<%= escape_html("<script>alert('sample')</script>") %>
<p>
  <% if 3 % 2 == 1 %>
  ここに表示される
  <% else %>
  ここに表示されない
  <% end %>
</p>
