<% posts.each do |post| %>
  <div>
    <div class="post">
      <%= escape_html post["text"] %>
    </div>
    <div class="post-image">
        <img src="/uploads/<%= post["img_file_name"]%>" alt="<%= post["img_file_name"]%>" class="ex-image"/>
    </div>
  </div>
<% end %>


<form method="post" action="/" enctype="multipart/form-data">
  <textarea rows="10" cols="30" name="ex_text" id="ex-text"></textarea>
  <input type="file" name="file">
  <input type="submit" name="submit" value="submit">
</form>
